{% extends 'Grupo51ProyectoBundle:LoggedUser:home.html.twig' %}

{% block content %}
    <h3>User edit</h3>
    {{form_start(edit_form)}}
    <table>
    <tr>
    <td>{{form_label(edit_form.Username)}}</td>
    <td>{{form_widget(edit_form.Username,{'attr': {'class': 'form-control','type':'text','placeholder':'nombre'}})}}</td>
    </tr>
    <tr>
    <td>{{form_label(edit_form.Email)}}</td>
    <td>{{form_widget(edit_form.Email,{'attr': {'class': 'form-control','type':'text','placeholder':'email'}})}}</td>
    </tr>
    <tr>
    <td>{{form_label(edit_form.Password)}}</td>
    <td>{{form_widget(edit_form.Password,{'attr': {'class': 'form-control','type':'text','placeholder':'password'}})}}</td>
    </tr>
    <tr>
    <td>
    {{form_widget(edit_form.submit,{'attr':{'class':'btn btn-info'}})}}
    </td>
     </tr>
     </table>
    {{form_end(edit_form)}} 

        <ul class="record_actions">
    <li>
        <a href="{{ path('user') }}">
            Back to the list
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}