
{% trans_default_domain 'FOSUserBundle' %}


<form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password">
    {{ form_widget(form) }}
    <div>
        <input class="btn btn-primary" type="submit" value="{{ 'change_password.submit'|trans }}" />
    </div>
</form>

{#
<form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password">
    {{ form_errors(form) }}
    <div class="form-group{% if form.plainPassword.first.vars.errors[0].message is defined %} has-error{% endif %}">
        {{ form_label(form.plainPassword.first, null, {'label_attr': {'class': 'col-md-2 control-label'}}) }}
            {{ form_widget(form.plainPassword.first, {'attr': {'class': 'form-control'}}) }}
            {% if form.plainPassword.first.vars.errors[0].message is defined %}
            <span class="help-block">
                {{ form.plainPassword.first.vars.errors[0].message }}
            </span>
            {% endif %}
        {{ form_label(form.plainPassword.second, null, {'label_attr': {'class': 'col-md-2 control-label'}}) }}
          {{ form_widget(form.plainPassword.second, {'attr': {'class': 'form-control'}}) }}
            {% if form.plainPassword.second.vars.errors[0].message is defined %}
            <span class="help-block">
                {{ form.plainPassword.second.vars.errors[0].message }}
            </span>
            {% endif %}
        {{ form_label(form.plainPassword.second, null, {'label_attr': {'class': 'col-md-2 control-label'}}) }}
          {{ form_widget(form.plainPassword.second, {'attr': {'class': 'form-control'}}) }}
            {% if form.plainPassword.second.vars.errors[0].message is defined %}
            <span class="help-block">
                {{ form.plainPassword.second.vars.errors[0].message }}
            </span>
            {% endif %}
         {{ form_label(form.current_password, null, {'label_attr': {'class': 'col-md-2 control-label'}}) }}
          {{ form_widget(form.current_password, {'attr': {'class': 'form-control'}}) }}
</div>
<input class="btn btn-info" type="submit" value="{{ 'change_password.submit'|trans }}" />
</form>#}